{% extends 'templates/sidebar.html' %}

{% block body %}
<div class="col-lg-6 grid-margin center">
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">Data Dosen</h3>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>
                Kode Dosen
              </th>
              <th>
                Nama Dosen
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                ASDAFE
              </td>
              <td>
                Herman Beck
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}