<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RoyalUI Admin</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/ti-icons/css/themify-icons.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendors/base/vendor.bundle.base.css') }}">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}" />
</head>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class=" navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <!-- <a class="navbar-brand brand-logo me-5" href="index.html"><img 
        src="{{ url_for('static', filename='images/Logo-UUI.png') }}" width="200" class="me-2 profile-pic" alt="logo" /></a> -->
        <h4>Universitas </h4>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-dosen" aria-expanded="false"
              aria-controls="ui-dosen">
              <span class="menu-title">Dosen</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-dosen">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_dosen') }}">Input Dosen</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_dosen') }}">Data Dosen</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-ruang" aria-expanded="false"
              aria-controls="ui-ruang">
              <span class="menu-title">Ruang</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-ruang">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_ruang') }}">Input Ruang</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_ruang') }}">Data Ruang</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-matakuliah" aria-expanded="false"
              aria-controls="ui-matakuliah">
              <span class="menu-title">Mata Kuliah</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-matakuliah">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_matakuliah') }}">Input Mata Kuliah</a>
                </li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_matakuliah') }}">Data Mata Kuliah</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-proyektor" aria-expanded="false"
              aria-controls="ui-proyektor">
              <span class="menu-title">Proyektor</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-proyektor">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_proyektor') }}">Input Proyektor</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_proyektor') }}">Data Proyektor</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-mahasiswa" aria-expanded="false"
              aria-controls="ui-mahasiswa">
              <span class="menu-title">Mahasiswa</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-mahasiswa">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_mahasiswa') }}">Input Mahasiswa</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_mahasiswa') }}">Data Mahasiswa</a>
                </li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-jurusan" aria-expanded="false"
              aria-controls="ui-jurusan">
              <span class="menu-title">Jurusan</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-jurusan">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_jurusan') }}">Input Jurusan</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_jurusan') }}">Data Jurusan</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#ui-fakultas" aria-expanded="false"
              aria-controls="ui-fakultas">
              <span class="menu-title">Fakultas</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-fakultas">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.input_fakultas') }}">Input Fakultas</a></li>
                <li class="nav-item"> <a class="nav-link" href="{{ url_for('views.data_fakultas') }}">Data Fakultas</a>
                </li>
              </ul>
            </div>
          </li>

          <!-- <li class="nav-item">
            <a class="nav-link" href="">
              <span class="menu-title">Peminjaman</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">
              <span class="menu-title">Pengembalian</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="">
              <span class="menu-title">Laporan</span>
            </a>
          </li> -->

        </ul>
      </nav>

      {% block body %}

      {% endblock %}

    </div>
  </div>
  <script src="{{url_for('static', filename='vendors/base/vendor.bundle.base.js') }}"></script>
  <script src="{{url_for('static', filename='js/off-canvas.js') }}"></script>
  <script src="{{url_for('static', filename='js/hoverable-collapse.js') }}"></script>
  <script src="{{url_for('static', filename='js/template.js') }}"></script>
  <script src="{{url_for('static', filename='js/dashboard.js') }}"></script>
</body>

</html>